<div class="row file_added">
    <div class="col-lg-3">
        <div class="p-3">
            <h3><span style="color: red;">*</span> Estado del estudiante:</h3>
            <div class="form-check">
                <div class="radio">
                    <label for="studentStatus_New" class="form-check-label ">
                        <input type="radio" id="studentStatus_New" name="studentStatus" value=true
                            class="form-check-input" checked>Niño nuevo
                    </label>
                </div>
                <div class="radio">
                    <label for="studentStatus_continue" class="form-check-label ">
                        <input type="radio" id="studentStatus_continue" name="studentStatus" value=false
                            class="form-check-input">Niño que continua
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="p-3">
            <h3><span style="color: red;">*</span> Grado a inscribir:</h3>
            <div class="form-check">
                <div class="radio">
                    <label for="gradeEnroll_Caminadores" class="form-check-label ">
                        <input type="radio" id="gradeEnroll_Caminadores" name="gradeEnroll" value="Caminadores"
                            class="form-check-input">Caminadores
                    </label>
                </div>
                <div class="radio">
                    <label for="gradeEnroll_Parvulos" class="form-check-label ">
                        <input type="radio" id="gradeEnroll_Parvulos" name="gradeEnroll" value="Parvulos"
                            class="form-check-input">Parvulos
                    </label>
                </div>
                <div class="radio">
                    <label for="gradeEnroll_PreJardin" class="form-check-label ">
                        <input type="radio" id="gradeEnroll_PreJardin" name="gradeEnroll" value="Pre-Jardin"
                            class="form-check-input">Pre-Jardin
                    </label>
                </div>
                <div class="radio">
                    <label for="gradeEnroll_Transicion" class="form-check-label ">
                        <input type="radio" id="gradeEnroll_Transicion" name="gradeEnroll" value="Transicion"
                            class="form-check-input">Transición
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="p-3">
            <h3><span style="color: red;">*</span> Tipo de modalidad:</h3>
            <div class="form-check">
                <div class="radio">
                    <label for="typeModality_Virtual" class="form-check-label ">
                        <input type="radio" id="typeModality_Virtual" name="typeModality" value="Virtual"
                            class="form-check-input" disabled>Virtual
                    </label>
                </div>
                <div class="radio">
                    <label for="typeModality_presencial" class="form-check-label ">
                        <input type="radio" id="typeModality_presencial" name="typeModality" value="Presencial"
                            class="form-check-input" checked>Presencial
                    </label>
                </div>
                <div class="radio">
                    <label for="typeModality_alternancia" class="form-check-label ">
                        <input type="radio" id="typeModality_alternancia" name="typeModality" value="Alternancia"
                            class="form-check-input" disabled>Alternancia
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="p-3">
            <h3><span style="color: red;">*</span> Jornada:</h3>
            <div class="form-check">
                <div class="radio">
                    <label for="workingDay_manana" class="form-check-label ">
                        <input type="radio" id="workingDay_manana" name="workingDay" value="Mañana"
                            class="form-check-input">Mañana
                    </label>
                </div>
                <div class="radio">
                    <label for="workingDay_tarde" class="form-check-label ">
                        <input type="radio" id="workingDay_tarde" name="workingDay" value="Tarde"
                            class="form-check-input">Tarde
                    </label>
                </div>
                <div class="radio">
                    <label for="workingDay_tiempoCompleto" class="form-check-label ">
                        <input type="radio" id="workingDay_tiempoCompleto" name="workingDay" value="Tiempo completo"
                            class="form-check-input">Tiempo completo
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>último grado cursado aprobado</h3>
<div class="row file_added">
    <div class="col-lg-4">
        <h6>Año:</h6>
        <input type="text" id="lastYearStudied" name="lastYearStudied" placeholder="Ultimo año cursado"
            class="form-control"><small class="form-text text-muted">Ultimo año cursado</small>
    </div>
    <div class="col-lg-4">
        <h6>Institución:</h6>
        <input type="text" id="lastInstitution" name="lastInstitution" placeholder="Nombre de la instición"
            class="form-control"><small class="form-text text-muted">Nombre de la instición</small>
    </div>
    <div class="col-lg-4">
        <h6>Grado:</h6>
        <div class="form-check">
            <div class="radio">
                <label for="lateGrade_caminadores" class="form-check-label ">
                    <input type="radio" id="lateGrade_caminadores" name="lateGrade" value="Caminadores"
                        class="form-check-input">Caminadores (1 a 2 años)
                </label>
            </div>
            <div class="radio">
                <label for="lateGrade_Parvulos" class="form-check-label ">
                    <input type="radio" id="lateGrade_Parvulos" name="lateGrade" value="Parvulos"
                        class="form-check-input">Parvulos (2 a 3 años)
                </label>
            </div>
            <div class="radio">
                <label for="lateGrade_prejardin" class="form-check-label ">
                    <input type="radio" id="lateGrade_prejardin" name="lateGrade" value="Pre-Jardin"
                        class="form-check-input">Pre-Jardin (3 a 4 años)
                </label>
            </div>
            <div class="radio">
                <label for="lateGrade_transicion" class="form-check-label ">
                    <input type="radio" id="lateGrade_transicion" name="lateGrade" value="Transicion"
                        class="form-check-input">Transición(5 a 6 años)
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3><span style="color: red;">*</span> Nombres estudiante:</h3>
        <input type="text" id="nameStudent" name="nameStudent" placeholder="Nombre(s) del estudiante"
            class="form-control"><small class="form-text text-muted">Nombre(s) del estudiante</small>
    </div>
    <div class="col-lg-6">
        <h3><span style="color: red;">*</span> Apellidos estudiante:</h3>
        <input type="text" id="lastNameStudent" name="lastNameStudent" placeholder="Apellidos(s) del estudiante"
            class="form-control"><small class="form-text text-muted">Apellidos(s) del estudiante</small>
    </div>
</div>
<div class="row file_added py-4">
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Genero:</h3>
        <div class="form-check">
            <div class="radio">
                <label for="gender_femenino" class="form-check-label ">
                    <input type="radio" id="gender_femenino" name="gender" value="Femenino" class="form-check-input">Femenino
                </label>
            </div>
            <div class="radio">
                <label for="gender_masculino" class="form-check-label ">
                    <input type="radio" id="gender_masculino" name="gender" value="Masculino" class="form-check-input">Masculino
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> NUIP:</h3>
        <input type="text" id="niup" name="niup" placeholder="NUIP" class="form-control"><small
            class="form-text text-muted">* El NUIP lo encuentras en el Registro Civil.</small>
    </div>
    <div class="col-lg-3">
        <h3>N°Pasaporte:</h3>
        <input type="text" id="documentNumber" name="documentNumber" placeholder="N°Pasaporte"
            class="form-control"><small class="form-text text-muted">* Solo si es extranjero y no cuente con
            NUIP.</small>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Pais de expedición:</h3>
        <input type="text" id="countryFile" name="countryFile" placeholder="Pais Expediente" class="form-control"><small
            class="form-text text-muted">Pais Expediente</small>
    </div>
</div>
<div class="row file_added">
    <div class="col-lg-6">
        <h3><span style="color: red;">*</span> Dirección:</h3>
        <input type="text" id="direction" name="direction" placeholder="Dirección" class="form-control"><small
            class="form-text text-muted">Dirección</small>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Barrio/Unidad:</h3>
        <input type="text" id="neighborhood" name="neighborhood" placeholder="Barrio / unidad"
            class="form-control"><small class="form-text text-muted">Barrio / unidad</small>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Nº Casa o apartamento:</h3>
        <input type="text" id="apartmentHouseNumber" name="apartmentHouseNumber" placeholder="Nº Casa o apartamento"
            class="form-control"><small class="form-text text-muted">Nº
            Casa o apartamento</small>
    </div>
</div>
<div class="row file_added">
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Tipo de vivienda:</h3>
        <div class="form-check">
            <div class="radio">
                <label for="housingType_propia" class="form-check-label ">
                    <input type="radio" id="housingType_propia" name="housingType" value="Propia" class="form-check-input">Propia
                </label>
            </div>
            <div class="radio">
                <label for="housingType_arrendada" class="form-check-label ">
                    <input type="radio" id="housingType_arrendada" name="housingType" value="Arrendada"
                        class="form-check-input">Arrendada
                </label>
            </div>
            <div class="radio">
                <label for="housingType_familiar" class="form-check-label ">
                    <input type="radio" id="housingType_familiar" name="housingType" value="Familiar"
                        class="form-check-input">Familiar
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Municipio/Ciudad:</h3>
        <input type="text" id="municipality" name="municipality" placeholder="Municipio/Ciudad"
            class="form-control"><small class="form-text text-muted">Municipio/Ciudad</small>
    </div>
    <div class="col-lg-3">
        <h3><span style="color: red;">*</span> Departamento:</h3>
        <input type="text" id="departament" name="departament" placeholder="Departamento" class="form-control"><small
            class="form-text text-muted">Departamento</small>
    </div>
    <div class="col-lg-3">
        <h3>Tel fijo residencia:</h3>
        <input type="number" maxlength="7" id="landline" name="landline" placeholder="Tel fijo residencia"
            class="form-control"><small class="form-text text-muted">Tel fijo residencia</small>
    </div>
</div>
<div class="row file_added">
    <div class="col-lg-4">
        <h3><span style="color: red;">*</span> EPS:</h3>
        <input type="text" id="eps" name="eps" placeholder="EPS" class="form-control"><small
            class="form-text text-muted">EPS</small>
    </div>
    <div class="col-lg-4">
        <h3><span style="color: red;">*</span> Ips donde consulta:</h3>
        <input type="text" id="queryIps" name="queryIps" placeholder="Ips donde consulta" class="form-control"><small
            class="form-text text-muted">Ips donde consulta</small>
    </div>
    <div class="col-lg-2">
        <h3><span style="color: red;">*</span> Tipo de sangre:</h3>
        <div class="form-check">
            <div class="radio">
                <label for="bloodType_O+" class="form-check-label ">
                    <input type="radio" id="bloodType_O+" name="bloodType" value="o+" class="form-check-input">O+
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_O-" class="form-check-label ">
                    <input type="radio" id="bloodType_O-" name="bloodType" value="o-" class="form-check-input">O-
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_A+" class="form-check-label ">
                    <input type="radio" id="bloodType_A+" name="bloodType" value="a+" class="form-check-input">A+
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_A-" class="form-check-label ">
                    <input type="radio" id="bloodType_A-" name="bloodType" value="a-" class="form-check-input">A-
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-2 mt-4">
        <div class="form-check">
            <div class="radio">
                <label for="bloodType_B-" class="form-check-label ">
                    <input type="radio" id="bloodType_B-" name="bloodType" value="b-" class="form-check-input">B-
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_B+" class="form-check-label ">
                    <input type="radio" id="bloodType_B+" name="bloodType" value="b+" class="form-check-input">B+
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_AB-" class="form-check-label ">
                    <input type="radio" id="bloodType_AB-" name="bloodType" value="ab-" class="form-check-input">AB-
                </label>
            </div>
            <div class="radio">
                <label for="bloodType_AB+" class="form-check-label ">
                    <input type="radio" id="bloodType_AB+" name="bloodType" value="ab+" class="form-check-input">AB+
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row file_added">
    <div class="col-lg-4">
        <h3><span style="color: red;">*</span> Pais de nacimiento</h3>
        <input type="country" id="countryOfBirth" name="countryOfBirth" placeholder="Pais donde nacio el estudiante"
            class="form-control"><small class="form-text text-muted">Pais donde nacio el estudiante</small>
    </div>
    <div class="col-lg-4">
        <h3><span style="color: red;">*</span> Ciudad de nacimiento</h3>
        <input type="text" id="cityOfBirth" name="cityOfBirth" placeholder="Ciudad donde nacio el estudiante"
            class="form-control"><small class="form-text text-muted">Ciudad donde nacio el estudiante</small>
    </div>
    <div class="col-lg-4">
        <h3><span style="color: red;">*</span> Fecha de nacimiento</h3>
        <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control" value="">
    </div>
</div>